[Desktop Entry]
Type=Application
Version=1.0.0
Name=Kith
Comment=Kith (Desktop Calendar Widget)
Exec=/usr/local/bin/kith
Icon=kith-calendar
Terminal=false
Categories=Utility;
X-GNOME-Autostart-enabled=true
