#container {
  background-color: #11111B;
  border: 1px solid #313244;
  border-radius: 16px;
}

#monthYearLabel {
  color: #CDD6F4;
  font-family: "JetBrainsMono Nerd Font", "Sans Serif";
  font-size: 12pt;
  font-weight: 600;
  background: transparent;
}

#divider {
  background-color: #585B70;
  max-height: 1px;
  border: none;
}

#bottomPanel {
  background: transparent;
}

QLabel[header="true"] {
  color: #CDD6C9;
  font-size: 9pt;
  font-weight: 600;
  background: transparent;
}

QLabel#dayCell {
  color: #CDD6F4;
  font-size: 10pt;
  background: transparent;
  border-radius: 6px;
  padding: 2px;
}

QLabel#dayCell[today="true"] {
  background-color: #89DCEB;
  color: #11111B;
  font-weight: 700;
  border-radius: 12px;
  border: none;
}
